{{yield}}
{{#if addNewReview}}
  <h2>Add Review for {{product.title}}</h2>
  <div>
    <form>
        {{input class="form-control" value=product class="hidden"}}
      <div class="form-group">
        {{input class="form-control" value=reviewer placeholder="reviewer"}}
      </div>
      <div class="form-group">
        {{input class="form-control" value=subject placeholder="subject"}}
      </div>
      <div class="form-group">
        {{input class="form-control" value=body placeholder="body"}}
      </div>
      <h4>Rating</h4>
      {{star-rating item=product rating=newScore on-click="updateRating"}}
      <button class="btn review-btn" {{action 'saveRev1'}}>Save</button>
    </form>
    <button class="btn review-btn" {{action 'reviewFormHide'}}>Cancel</button>
  </div>
{{else}}
  <button class="btn review-btn" {{action 'reviewFormShow'}}>Create Review</button>
{{/if}}
