{{yield}}

<!-- INSIDE MODAL -->
<div class="admin-section container">
  {{#if modalShowing}}
    {{#modal-dialog close="toggleModal"
                    targetAttachment="center"
                    translucentOverlay=true}}
      <div class="admin-modal">
        <h2>Admin Only</h2>
        <div class="row">
          {{add-category saveCat2="saveCat3"}}
        </div>
        <div class="row">
          {{add-product model=model saveProd2="saveProd3"}}
        </div>
      </div>
      <button class="btn admin-btn" {{action 'toggleModal'}}>Close</button>
    {{/modal-dialog}}
  {{else}}
    <button class="btn admin-btn" {{action 'toggleModal'}}>Admin</button>
  {{/if}}
</div>
