{{yield}}
<div class="favorite-section container">
  {{#if modalShowing}}
    {{#modal-dialog close="toggleModal"
                    targetAttachment="center"
                    translucentOverlay=true}}
      <div class="favorite-modal">
        <h2>Favorites</h2>
        {{#if favorites.items}}
          <h1>Current Items in Faves</h1>
          <button class="btn btn-danger" {{action 'emptyFaves'}}>Empty Faves</button>
          {{#each favorites.items as |items|}}
          <div class="cart-items">
            <div class="row">
              <div class="col-xs-12">
                <img class="fave-img" src={{items.image}} alt={items.title} />
                <h4>{{items.title}}</h4>
                <h4>{{items.summary}}</h4>
                <h4>{{items.category.name}}</h4>
                <h4>maybe ave here later</h4>
              </div>
              <div class="col-xs-12">
                <button class="btn btn-danger" {{action 'removeFromFaves' items}}>Remove</button>
              </div>
            </div>
          </div>
          {{/each}}
        {{else}}
          <h1>Your Favorites are Empty</h1>
        {{/if}}
      </div>
      <button class="btn admin-btn" {{action 'toggleModal'}}>Close</button>
    {{/modal-dialog}}
  {{else}}
    <button class="btn" {{action 'toggleModal'}}>Favorites</button>
  {{/if}}
</div>
