{{yield}}

<div class="col-xs-12">
  {{#if modalShowing}}
    {{#modal-dialog close="toggleModal"
    targetAttachment="center"
    translucentOverlay=true}}
      <div class="review-modal">
        {{#if product.reviews}}
        <h4>Reviews of {{product.title}}</h4>
        {{else}}
        <h4>No Reviews Yet</h4>
        {{/if}}

        {{add-review product=product saveRev2="saveRev3"}}

        {{#each product.reviews as |review|}}
          <div class="col-xs-12">
            {{review-tile review=review}}
          </div>
        {{/each}}
        <button class="btn" {{action 'toggleModal'}}>Close</button>
      </div>
    {{/modal-dialog}}
  {{else}}
    <button class="btn" {{action 'toggleModal'}}>Reviews</button>
  {{/if}}
</div>
